@import url("bootstrap/css/bootstrap.css");

#video{
	height: 30em;
}

#conversacion{
	height: 30em;
	overflow-y: scroll;
	overflow-x: hidden;
}

#streamLocal{
	height: 14em;
}

#streamRemoto{
	height: 14em;
}